# Compiled JavaScript files
lib/

# TypeScript cache
*.tsbuildinfo

# Dependency directories
node_modules/

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log*
firebase-debug.*.log*

# Firebase service account key
service-account-key.json

# Environment variables
.env
.env.local

